body {
}

.item-rows {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
}

.img-profile {
    width: 100%;
}

#list-aprov-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.list-aprov-unit {
    min-width: 45vw;
    max-width: 45vw;
    margin:0px 10px;
}
.notif-buttons {
    display: flex;
    flex-wrap: nowrap;
}

    .notif-button {
        width: 35%;
        margin-left: 10%;
        height: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

        .accpet {
            background-color: green;
            color: white;
            font-weight: bold;
        }

        .recuse {
            background-color: red;
            color: white;
            font-weight: bold;
        }